.container__total{
    background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50)),
  url("https://i.imgur.com/pLkKszg.png");
  background-repeat : no-repeat;
  background-size:cover;
  background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(19, 23, 35, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 800px;
    height: auto;

}

.card__title{
    color: whitesmoke;
}

i{
    cursor: pointer;
}


.fa-edit{
    margin-right: 5px;
}

.table{
    
    color: whitesmoke;
}

tr td{
    color: whitesmoke;
}
