<!-- <p>header works!</p> -->

<div class="container__total" loading="lazy">
    <div class="container__info">

    
        <div class="container__content">
            <div class="title">
                <p>Martín Velázquez Salón</p>
            </div>
            <div class="decoracion__title">
                <img src="https://i.imgur.com/7yw2Pmp.png" alt="">
            </div>
            <div class="container__description">
                <!-- <p>Barbería & Peluquería</p> -->
                <img class="image__title" src="https://i.imgur.com/ukMogqg.png" alt="">
            </div>

            <div class="botones">
                <!-- <button class="btn btn-2">
                    <span>Conocenos</span>
                </button> -->
            </div>
        </div>
    </div>

</div>
